<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Poker</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="../public/controllers/IoController.js"></script>

</head>

<body>
    <div id="container-main">
        <div class="div-left">
            <form id="room">
                <div class="div-form-left">
                    <img src="../public/img/user.png" alt="Nome">
                    <h4 class="name-input">Nome</h4>
                    <input type="text" name="name" class="form-control-left" placeholder="Usuário" focus="none">
                    <br/>
                    <img src="../public/img/ticket.png" alt="ID da sala">
                    <h4 class="name-input">ID da sala</h4>
                    <input type="text" name="room" class="form-control-left" placeholder="ID da sala"><br/>
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
            </form>
            <form action="" id="voto">
                <div class="faixa" style="bottom:0cm;">
                    <h3>Qual a sua nota?</h3>
                    <ul>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='0'">0</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor = '1'">1</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='2'">2</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='3'">3</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='5'">5</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='8'">8</button>
                        </li>
                        <li>
                            <button type="submit" class="card-btn" onclick="valor ='13'">13</button>
                        </li>

                    </ul>
                    <p>Escolha sua nota ao card jira</p>

                </div>
            </form>
        </div>

        <div class="div-right">
            <div class="logo-poli">
                <img src="https://app-spa.poli.digital/static/media/logo-polichat.337ad828.svg" alt="Poli Digital"></img>
            </div>
            <form action="" id="chat">
                <h1>Planning Poker</h1>
                <div id="messages" class="campo-message"></div>
                <div class="send">
                    <input type="text" name="msg" class="form-control-right" placeholder="Aa">
                    <button type="submit" class="btn btn-success">
                        <img src="../public/img/send.png" alt="">
                    </button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>